<!DOCTYPE HTML>
<html>

<head>
<title>珠宝展示</title>
</head>

<style>
    h1, h2, h3 { font-family: "仿宋"; }
</style>

<body>
    <ul>
    <% for (let user of users){ %>
        <% if (user.Type === '项链'){ %>
            <li><img src='/images/项链.jpg' alt='发生错误' align="middle" width="52" height="52"/> <%= user.ID + 1 %> : <%= user.Location %> <%= user.Type %> <%= user.EPC_Number %></li>  
        <% } %>
        <% if (user.Type === '手镯'){ %>
            <li><img src='/images/手镯.jpg' alt='发生错误' align="middle" width="52" height="52"/> <%= user.ID + 1 %> : <%= user.Location %> <%= user.Type %> <%= user.EPC_Number %></li>
        <% } %>
        <% if (user.Type === '戒指'){ %>
            <li><img src='/images/戒指.jpg' alt='发生错误' align="middle" width="52" height="52"/> <%= user.ID + 1 %> : <%= user.Location %> <%= user.Type %> <%= user.EPC_Number %></li>
        <% } %>
    <% } %>
    </ul>
</body>

</html>